div {
    align-content: center;
    transition: all;
    transition-duration: 800ms;
    margin: 50px auto;
    padding: 2px;
    width: 180px;
    border: 2px solid yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div:hover {
    transform: translateY(-5px);
    border-color: orangered;
    box-shadow: 1.5px 3px 8px yellowgreen;
    color: orangered;
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
}